obj/
[Bb]in
[Pp]ackage*/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Thumbs.db
*.pch
*.ncb
*.suo
*.cache
*.bak
*.user
*.nupkg
*.dll
*.lib
*.pdb
*.sbr
*.obj
*.exe
*.aps
*.vspscc
*_i.c
*_p.c
*.tlb
*.tlh
*.ilk
*.log
*.dbmdl